<%= turbo_frame_tag dom_id(organization), class:"relative w-full p-4 shadow border border-green-200 rounded-lg flex flex-col space-y-4" do %>
  <% if organization.logo.attached? %>
    <%= image_tag url_for(organization.logo), class: "w-16 h-16 rounded-lg absolute top-4 right-4"%>
  <% end %>
  <p><%= organization.name %></p>
  <p>created_at: <%= organization.created_at.strftime("%B %d, %Y | %H:%M %p") %></p>
  <div class="w-full flex items-center justify-end gap-2">
    <%= link_to 'Edit', edit_organization_path(organization), data: { turbo_frame: "new_organization" }, class: 'btn-primary' %>
    <%= button_to 'Delete', organization_path(organization), method: :delete, class: 'rounded-md px-4 py-1 bg-red-500 text-white text-base font-medium' %>
  </div>
<% end %>