<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Aipan Projects" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header class="fixed left-0 top-0 right-0 h-12 border-b">
      <nav class="w-full h-full">
        <ul class="w-full h-full flex items-center space-x-6 p-4">
          <li>
            <%= link_to 'Home', root_path, class: '' %>
          </li>
          <li>
            <%= link_to 'Dashboard', dashboard_path, class: '' %>
          </li>
          <li>
            <%= link_to 'Sign Up', new_registration_path, class: '' %>
          </li>
          <li>
            <%= link_to 'Sign In', new_session_path, class: '' %>
          </li>
          <li>
            <%= button_to 'Logout', session_path, method: :delete, class: '' %>
          </li>
        </ul>
      </nav>
    </header>
    <main class="p-4 mt-12">
      <h1 class="text-yellow-500"><%= notice %></h1>
      <%= yield %>
    </main>
  </body>
</html>
